#calendar {
    margin-left: 22%;
    margin-top: 8%;
    border: solid 1px #777
}

body {
    background-image: url('../resources/waterfallwide.png');
    background-size: 100vw 100vh;
    overflow: hidden;
}