.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bgimg1 {
    background-image: url("../resources/water.jpg");
}

#bgimg2 {
    background-image: url("../resources/bridge.jpg");
    height: 75%
}

#bgimg3 {
    background-image: url("../resources/amongus.jpg");
    height: 100%
}

#caption1 {
    color: #333;
    font-size: 100px;
    text-align: center;
    padding: 50px 100px 50px 100px;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.paragraph {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}
