@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../resources/background.gif");
    background-size: cover;
    background-position: center;
}

.text {
    font-family: "Noto Sans";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media only screen and (orientation:portrait) {
    .square {
        display: inline-grid;
        grid-area: 'square';
        background-color: #574B66;
        color: #fff;
        font-size: 3vw;
        user-select: none;
    }
    #table {
        display: grid;
        grid-template-rows: 25vw 25vw 25vw;
        grid-template-columns: 25vw 25vw 25vw;
        gap: 2.5vw;
    }
}

@media only screen and (orientation:landscape) {
    .square {
        display: inline-grid;
        grid-area: 'square';
        background-color: #574B66;
        color: #fff;
        font-size: 3vh;
        user-select: none;
    }
    #table {
        display: grid;
        grid-template-rows: 25vh 25vh 25vh;
        grid-template-columns: 25vh 25vh 25vh;
        gap: 2.5vh;
    }
}

#free {
    background-image: url('../resources/jaejae.jpg');
    background-size: cover;
}