input {
    width: 60%;
    padding: 1em 2em;
    margin: 1em 0;
    margin-left: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #838895;
    background-color: #838895;
    color: white;
}

input::placeholder {
    color: white;
}

#address {
    width: 100%;
}